dconf/
environment.d/
evolution/
gnome-initial-setup-done
gtk-3.0/
ibus/
lazygit/
nvim/lazy-lock.json
pulse/
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported
enchant/
gedit/
fontconfig/
tmux/
git/
htop/
i3/
i3status/
